.App {
  text-align: center;
}

.image {
  height: 40vmin;
  pointer-events: none;
  box-shadow: 5px 5px 0 0px black, 5px 5px 0 1px white;
}

.App-header {
  background-color: #3ca0ed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}